* {
    font-family: "Lato", sans-serif;
}

body {
    background-image: url("bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #e0985e;
}

#total {
    color: black;
}

h1 {
    color: #803d3b;
    font-size: 4rem;
    padding-top: 0;
    margin-top: 0;
}

.grand {
    text-align: center;
}
.picker {
    height: 100vh;
    margin-top: 4rem;
    padding-top: 4rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.picker p {
    color: #803d3b;
}

.input {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

input {
    display: block;
}

.list-doorprize {
    color: #803d3b;
}

.list-link {
    font-size: 2rem;
    color: #803d3b;
}

p {
    margin: 0;
    padding: 0;
}

#picked {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.winnertext {
    font-size: 4rem;
    text-align: center;
}

.winnertext-single {
    font-size: 5.5rem;
    text-align: center;
}

.winner-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-evenly;
}

#stop {
    display: none;
}

.hide {
    display: none;
}

.spacer {
    margin-top: 1.5rem;
}

/* CSS */
.button {
    appearance: button;
    background-color: #d6aa18;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 30px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:after {
    background-clip: padding-box;
    background-color: #ebb813;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-stop {
    background-color: #bb0000;
}
.button-stop:after {
    background-color: #f70000;
}

.button:main,
.button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button:disabled {
    cursor: auto;
}
